//常用颜色值-主色调
$color-top-blue: #009aff;

//面包屑的样式
.bread-parent {
  height: 48px;
  line-height: 48px;
  width: auto;
  display: inline-block;
  margin-left: 12px;
  .bread-item {
    font-size: 14px;
    height: 100%;
    width: auto;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    color: white;
    a {
      color: white;
    }
    span {
      color: gainsboro;
    }
  }

}

//翻页样式
.pagination-parent {
  height: 58px;
  background-color: #f2f2f2;
  position: relative;
  .pagination-body {
    position: absolute;
    top: 13px;
    right: 120px;
  }
}
